@font-face {
  font-family: 'Console';
  src: url('../fonts/Console.ttf');
}



body {
    margin:0;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/background.jpg');
	background-size: cover;
    height: 100vh;
}

.container{
	width:100%;
	display: flex;
	flex-direction: row;
}

.content{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 90%;
}



#root > div > div{
 width: 100%;
 height: 100%;
 display: flex;
}


/*sidebar*/
div.MuiBox-root.css-1a51x00{
 width: 10%;
 margin: 0;
 height: auto;
 background-color: rgb(37, 36, 36);
 border-right: 3px solid #5e1b88;
 border-bottom: 3px solid #5e1b88;
}

div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-15n07uq-MuiPaper-root-MuiCard-root{
    margin: 0;
}

.topRow{
	display: flex;
	width: 90%;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
}

.card {
	background-color: rgb(37, 36, 36) !important;
	border: 3px solid #5e1b88 !important;
}

.allContent{
	display:flex;
	flex-direction: column;
}

.ContentRowProductsHome{
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top:100px;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	padding: 30px 0px;
}
.ContentRowProductsConteiner{
	display: flex;
	color: aliceblue;
	flex-direction: column;
	align-items: center;
	width:100%;
}
.ContentRowProductsBox{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 90%
}

.ContentRowUsersConteiner{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: aliceblue;
	width: 90%;
	
}
.ContentRowUsers{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.ContentRowUsersHome{
	display: flex;
	width: 100%;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top:100px;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 15px;
	padding: 30px 0px;
}

.CardTopFiveBox{
	display: flex;
	padding: 10px;
	width: 100%;
	flex-direction: column;
	text-align: center;
	color: white;
}
.CardTopFiveTop{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.MuiTypography-root{
	color: white;
}


.userRow{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.userCol{
	display: flex;
	flex-direction: row;
	
}

