#root > header {
  background-color: rgb(37, 36, 36);
  color: rgba(255, 255, 255, 0.703);
  border-bottom: 3px solid #5e1b88;
  box-shadow: -1px 6px 10px 4px rgb(0 0 0 / 60%);
  z-index: 2;
  position: fixed;
}

.title{
  font-family: 'Console';
  text-transform: uppercase;
  text-shadow: 0px 0px 0, 1px 2px 2px #5e1b88;
  animation: marquee 10s linear infinite;
}

.hiddening{
  overflow: hidden;
  box-shadow: inset 0px 5px 6px 4px rgb(0 0 0 / 62%);
}

.box1 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.box2 {
  display: flex;
  justify-content: center;
}



@keyframes marquee {
  0% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

#root > header > div > div > div.MuiBox-root.css-qr05x8{
  display: flex;
  justify-content: center;
}


