#root > header {
  background-color: rgb(37, 36, 36);
  color: rgba(255, 255, 255, 0.703);
  border-bottom: 3px solid #5e1b88;
  box-shadow: -1px 6px 10px 4px rgb(0 0 0 / 60%);
  z-index: 2;
  position: fixed;
}


